@media (max-width: 800px) {
  body {
    margin: 0;
    font-family: 'Bilbo Swash Caps', cursive;
    padding: 0;
    overflow: hidden;
  }

  
  #header {
    position: absolute;
    border-bottom: .6px solid black;
  }
  

  #header ul {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.2rem;
  }
  
  
  #header ul .logo {
    width: 24%;
  }
  

  
  
  




  /* Footer ***************** */
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: .4px solid black;
  }
  
  
  #footer ul {
    display: flex;
    flex-direction: row;
  }
  
  
  #footer ul li .nav-link {
    margin-left: 2.6rem;
  }
  
}












